<div class="container mt-5">

    <h3 class="mb-4">
        Conductores Disponibles
    </h3>

    <div class="card shadow p-4 mb-3">

        <h5>Carlos Mendoza</h5>

        <p>
            Toyota Yaris • Blanco
        </p>

        <p>
            ⭐ 4.9 | Llega en 3 min
        </p>

        <h4>S/ 12.00</h4>

        <a th:href="@{/pasajero/seguimiento}"
           class="btn btn-success">
            Aceptar Oferta
        </a>

    </div>

    <div class="card shadow p-4">

        <h5>Ana Rodríguez</h5>

        <p>
            Kia Rio • Negro
        </p>

        <p>
            ⭐ 4.8 | Llega en 5 min
        </p>

        <h4>S/ 10.00</h4>

        <a th:href="@{/pasajero/seguimiento}"
           class="btn btn-success">
            Aceptar Oferta
        </a>

    </div>

</div>