<div class="container mt-5">

    <div class="card shadow p-5 rounded-4">

        <h3>Enviar Oferta</h3>

        <div class="mt-4">

            <label>Precio de tu oferta</label>

            <input type="number"
                   class="form-control">

        </div>

        <div class="mt-3">

            <label>Tiempo de llegada (min)</label>

            <input type="number"
                   class="form-control">

        </div>

        <a th:href="@{/conductor/viaje}"
           class="btn btn-success mt-4">
            Enviar Oferta
        </a>

    </div>

</div>