<div class="container mt-5">

    <h3 class="mb-4">
        Historial de Viajes
    </h3>

    <table class="table table-bordered">

        <thead>

        <tr>
            <th>Pasajero</th>
            <th>Destino</th>
            <th>Fecha</th>
            <th>Monto</th>
        </tr>

        </thead>

        <tbody>

        <tr>
            <td>María López</td>
            <td>Open Plaza Piura</td>
            <td>16/06/2026</td>
            <td>S/ 12.00</td>
        </tr>

        </tbody>

    </table>

</div>