<div class="container mt-5">

    <div class="card shadow p-5 rounded-4 text-center">

        <h3>Viaje en Curso</h3>

        <h4 class="mt-4">
            María López
        </h4>

        <p>
            Destino: Open Plaza Piura
        </p>

        <p>
            Precio acordado: S/ 12.00
        </p>

        <button class="btn btn-success">
            Iniciar Viaje
        </button>

        <button class="btn btn-danger mt-3">
            Finalizar Viaje
        </button>

    </div>

</div>